@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


* {
  margin: 0;
  font-family: "Bangers";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-top: 3px solid #f2f2f2;
  border-bottom: 3px solid #f2f2f2;
}
.navbar h1 {
  color: #9721db;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #d41010;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.standard {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  /* border-bottom: 3px solid #f2f2f2; */
}

.standard .stats {
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}

.footer {
  padding: 20px;
  
  position: fixed;
  left:0;
  bottom:0;
  right:0;
  max-width: 800px;
  margin: 0 auto;
  border-top: 3px solid #f2f2f2;
  border-bottom: 3px solid #f2f2f2;
  background-color: white;
}

.footer .links {
  margin-right: fixed;
  color: #9721db;
}

#root {

  padding-bottom:100px;
}